{% extends "base.html" %} {% block title %} Show Board {% endblock %} 
{% block head %}
<script src="../static/js/board.js"></script>
<link rel="stylesheet" href="../static/css/board.css">
{% endblock %} 

{% block body %}
<p id="game_id" name="{{id}}" hidden></p>
<div class="row justify-content-center mt-2">
    <div id="ScreenAll" class="col-md-4">
        {% if OnlinePlayer == "pBlack" %}
            <h2>You are playing as Black</h2>
        {% else %}
            <h2>You are playing as White</h2>
        {% endif %}
        <div class="flex-container Board">
            <div class="myRow">
                <div id="bHitt" class="sidePoint">
                    {% for i in range(barPosition["pBlack"]) %}
                        <div name="checker_black_hitt_{{i}}" id="checker_black_hitt_{{i}}" class="Black checker" draggable="true" ondragstart="drag(event)"></div>
                    {% endfor %}
                </div>
                <div class="flex-container centerPart">
                    <div class="flex-container top">
                    {% for point in range(11, 5, -1) %}
                        <div name="no_name" id="point_{{point}}" class="point" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for j in range(board[point].checkers) %}
                                {% if board[point].player =="pWhite" %}
                                    {% if board[point].player == OnlinePlayer %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% else %}
                                    {% if board[point].player == OnlinePlayer %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% endif %} 
                            {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                    <div class="flex-container top">
                        {% for point in range(5, -1, -1) %}
                        <div name="no_name" id="point_{{point}}" class="point" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for j in range(board[point].checkers) %}
                                {% if board[point].player =="pWhite" %}
                                    {% if board[point].player == OnlinePlayer %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% else %}
                                    {% if board[point].player == OnlinePlayer %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div name="no_name" id="wOut" class="sidePoint" ondrop="drop(event)" ondragover="allowDrop(event)">
                    {% for i in range(bearOffCheckers["pWhite"]) %}
                        <div name="checker_out_{{i}}" id="checker_out_{{i}}" class="White checker" draggable="false" ondragstart="dragErr(event)"></div>
                    {% endfor %}
                </div>
            </div>
            <div class="myRow">
                <div id="wHitt" class="sidePoint">
                    {% for i in range(barPosition["pWhite"]) %}
                    <div name="checker_white_hitt_{{i}}" id="checker_white_hitt_{{i}}" class="White checker" draggable="true" ondragstart="drag(event)"></div>
                    {% endfor %}
                </div>
                <div class="flex-container centerPart">
                    <div class="flex-container bottomHalfs">
                        {% for point in range(12, 18) %}
                        <div name="no_name" id="point_{{point}}" class="point bottom" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for j in range(board[point].checkers) %}
                                {% if board[point].player =="pWhite" %}
                                    {% if board[point].player == OnlinePlayer %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% else %}
                                    {% if board[point].player == OnlinePlayer %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="flex-container bottomHalfs">
                        {% for point in range(18, 24) %}
                        <div name="no_name" id="point_{{point}}" class="point bottom" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for j in range(board[point].checkers) %}
                                {% if board[point].player =="pWhite" %}
                                    {% if board[point].player == OnlinePlayer %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% else %}
                                    {% if board[point].player == OnlinePlayer %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div name="no_name" id="bOut" class="sidePoint" ondrop="drop(event)" ondragover="allowDrop(event)">
                    {% for i in range(bearOffCheckers["pBlack"]) %}
                    <div name="checker_out_{{i}}" id="checker_out_{{i}}" class="Black checker" draggable="false" ondragstart="dragErr(event)"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <div id="currPlayer">Player on turn: {{playerOnTurn}}</div>
            <div>
                {% if dice[0] == 0 and dice[1] == 0 %}
                    <button class="dice" id ="diceButton" onclick="diceRow()">Roll the dice</button>
                {% endif %}
            </div>
            {% if dice[0] == 0 %} 
                <img id="dice_1">
            {% else %}
                <img id="dice_1" src="../static/images/dices/k1_{{ dice[0] }}.png">
            {% endif %}
            {% if dice[1] == 0 %} 
                <img id="dice_2">
            {% else %}
                <img id="dice_2" src="../static/images/dices/k2_{{ dice[1] }}.png">
            {% endif %}
        </div>
        <div>
            <a href="{{ url_for('deleteGame' ,gameId= id) }}"><button>End game</button></a>
        </div>

    </div>
</div>
{% endblock %}
