{% extends "base.html" %} {% block title %} Show Board {% endblock %} {% block
head %}
<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
  table {
    counter-reset: section;
  }
  .count:before {
    width: 100%;
    height: 100%;
    counter-increment: section;
    content: counter(section);
  }
  .flex-container {
    display: flex;
  }
  .Board {
    background-image: url(../static/images/backgammon-Board.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 593px;
  }
  .centerPart {
    justify-content: space-between;
    height: 100%;
    flex-direction: row;
    width: 80%;
  }
  .bottomHalfs {
    margin: 3px;
    margin-bottom: 20px;
  }
  .myRow {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    }
  .sidePoint{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 75%;
    margin-top: 3%;
    border: 1px solid #a70000;
  }
  .point {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 100%;
    border: 1px solid #a70000;
  }
  .top {
    margin: 3px;
    margin-top: 20px;
  }
  .bottom{
    justify-content: flex-end;
  }
  
  .checker { 
    width: 40px;
    height: 40px;
    margin: 1%;
  }
  .Black {
    background-color: black;
  }
  .White {
    background-color: wheat;
  }
  #bHitt, #wHitt{
    margin-right: 2%;
  }
  #bOut, #wOut{
    margin-left: 2%;
  }
  #bOut, #wHitt{
    margin-top: 6%;
  }
</style>
{% endblock %} 

{% block body %}
<p id="room_id" name="{{id}}" hidden></p>
<div class="row justify-content-center mt-2">
    <div class="col-md-4">
        <div class="flex-container Board">
            <div class="myRow">
                <div id="bHitt" class="sidePoint">
                    {% for i in range(barPosition["pBlack"]) %}
                        <div name="checker_black_hitt_{{i}}" id="checker_black_hitt_{{i}}" class="Black checker" draggable="true" ondragstart="drag(event)"></div>
                    {% endfor %}
                </div>
                <div class="flex-container centerPart">
                    <div class="flex-container top">
                    {% for point in range(11, 5, -1) %}
                        <div name="no_name" id="point_{{point}}" class="point" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for j in range(board[point].checkers) %}
                                {% if board[point].player =="pWhite" %}
                                    {% if board[point].player == playerOnTurn %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% else %}
                                    {% if board[point].player == playerOnTurn %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% endif %} 
                            {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                    <div class="flex-container top">
                        {% for point in range(5, -1, -1) %}
                        <div name="no_name" id="point_{{point}}" class="point" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for j in range(board[point].checkers) %}
                                {% if board[point].player =="pWhite" %}
                                    {% if board[point].player == playerOnTurn %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% else %}
                                    {% if board[point].player == playerOnTurn %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div name="no_name" id="wOut" class="sidePoint" ondrop="drop(event)" ondragover="allowDrop(event)">
                    {% for i in range(bearOffCheckers["pWhite"]) %}
                        <div name="checker_out_{{i}}" id="checker_out_{{i}}" class="White checker" draggable="false" ondragstart="dragErr(event)"></div>
                    {% endfor %}
                </div>
            </div>
            <div class="myRow">
                <div id="wHitt" class="sidePoint">
                    {% for i in range(barPosition["pWhite"]) %}
                    <div name="checker_white_hitt_{{i}}" id="checker_white_hitt_{{i}}" class="White checker" draggable="true" ondragstart="drag(event)"></div>
                    {% endfor %}
                </div>
                <div class="flex-container centerPart">
                    <div class="flex-container bottomHalfs">
                        {% for point in range(12, 18) %}
                        <div name="no_name" id="point_{{point}}" class="point bottom" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for j in range(board[point].checkers) %}
                                {% if board[point].player =="pWhite" %}
                                    {% if board[point].player == playerOnTurn %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% else %}
                                    {% if board[point].player == playerOnTurn %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="flex-container bottomHalfs">
                        {% for point in range(18, 24) %}
                        <div name="no_name" id="point_{{point}}" class="point bottom" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for j in range(board[point].checkers) %}
                                {% if board[point].player =="pWhite" %}
                                    {% if board[point].player == playerOnTurn %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_white" id="checker_{{point}}_{{j}}" class="White checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% else %}
                                    {% if board[point].player == playerOnTurn %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="true" ondragstart="drag(event)"></div>
                                    {% else %}
                                        <div name="checker_{{point}}_{{j}}_black" id="checker_{{point}}_{{j}}" class="Black checker" draggable="false" ondragstart="dragErr(event)"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div name="no_name" id="bOut" class="sidePoint" ondrop="drop(event)" ondragover="allowDrop(event)">
                    {% for i in range(bearOffCheckers["pBlack"]) %}
                    <div name="checker_out_{{i}}" id="checker_out_{{i}}" class="Black checker" draggable="false" ondragstart="dragErr(event)"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <div id="currPlayer">Player on turn: {{playerOnTurn}}</div>
            <div>
                {% if dice[0] == 0 and dice[1] == 0 %}
                    <button class="dice" id ="diceButton" onclick="diceRow()">Roll the dice</button>
                {% endif %}
            </div>
            {% if dice[0] == 0 %} 
                <img id="dice_1">
            {% else %}
                <img id="dice_1" src="../static/images/dices/k1_{{ dice[0] }}.png">
            {% endif %}
            {% if dice[1] == 0 %} 
                <img id="dice_2">
            {% else %}
                <img id="dice_2" src="../static/images/dices/k2_{{ dice[1] }}.png">
            {% endif %}
        </div>

    </div>
</div>

<script>
    var game_id;
    var old_pos;
    var target
    var new_pos;
    var currPlayer;

function drag(ev) {
    old_pos = ev.target.parentNode.id;
    target = ev.target.id;
    ev.dataTransfer.setData("text", target);
}

function dragErr(ev) {
    old_pos = null;
    target = null;
}
    
function allowDrop(ev) {
    ev.preventDefault();
}
    
function drop(ev) {
    game_id = $( "#room_id" ).attr("name");
    ev.preventDefault();
    console.log(ev);
    var image = ev.dataTransfer.getData("text");
    let element = ev.target;
    var al = false;
    new_pos = ev.target.id;
    if (old_pos == null){
        return -1
    }
    if (new_pos.includes("text")) {
        new_pos = ev.target.parentNode.id;
    }
    $.ajax({
        url: "/ajaxMove",
        method: "POST",
        data: {
          game_id: game_id,
          old_pos: old_pos,
          new_pos: new_pos,
        },
        async: true,
    }).done(function (data) {
        al = data.allowed;
        currPlayer = data.currPlayer;
        if (al) {
            hitt = data.hitt;
            var checker = document.getElementById(image);
            if (hitt) {
                var content = ev.target.innerHTML;
                ev.target.innerHTML = '';
                if(checker.classList.contains('Black')){
                    var temp = document.getElementById('wHitt').innerHTML
                    temp = temp + content
                    document.getElementById('wHitt').innerHTML = temp; 
                }
                else if(checker.classList.contains('White')){
                    var temp = document.getElementById('bHitt').innerHTML
                    temp = temp + content
                    document.getElementById('bHitt').innerHTML = temp; 
                }
            }
            ev.target.appendChild(checker);
            showDices(data);
            changePlayer(data);
        }
    });
}

function diceRow(){
    $.ajax({
        url: "/ajaxDiceRow/{{ id }}",
        method: "GET",
        success: function (data) {
           showDices(data);
        }
    });
    return true;
};

function showDices(data) {
    dice = data.dice;
    turnPossible = data.turnPossible;
    document.getElementById('dice_1').src = (dice[0] > 0) ? '/static/images/dices/k1_' + dice[0] + '.png' : document.getElementById('dice_1').innerHTML = '';
    document.getElementById('dice_2').src = (dice[1] > 0) ? '/static/images/dices/k2_' + dice[1] + '.png' : document.getElementById('dice_2').innerHTML = '';
    document.getElementById('diceButton').style.visibility = (dice[1] == 0 && dice[0] == 0) ? "visible" : "hidden";
    console.log(dice);
    if (turnPossible == false){
        setTimeout(function () {
            document.getElementById('dice_1').src = document.getElementById('dice_1').innerHTML = '';
            document.getElementById('dice_2').src = document.getElementById('dice_2').innerHTML = '';
            document.getElementById('diceButton').style.visibility = "visible";
            changePlayer(data);
        }, 5000);
    }
};

function changePlayer(data){
    currPlayer = data.currPlayer;
    document.getElementById("currPlayer").innerHTML = "Player on turn:" + currPlayer;
    NodeList.prototype.forEach = Array.prototype.forEach;
    if (currPlayer == "pWhite"){
        document.getElementById('wHitt').querySelectorAll('div.White').forEach((function (x) { x.setAttribute("draggable", "true"); x.setAttribute("ondragstart", "drag(event)"); }))
        document.getElementById('bHitt').querySelectorAll('div.Black').forEach((function (x) { x.setAttribute("draggable", "false"); x.setAttribute("ondragstart", "dragErr(event)"); }))
        document.querySelectorAll('div.point>div.White').forEach((function (x) { x.setAttribute("draggable", "true"); x.setAttribute("ondragstart", "drag(event)"); }))
        document.querySelectorAll('div.point>div.Black').forEach((function (x) { x.setAttribute("draggable", "false"); x.setAttribute("ondragstart", "dragErr(event)"); }))
    }else{
        document.getElementById('bHitt').querySelectorAll('div.Black').forEach((function (x) { x.setAttribute("draggable", "true"); x.setAttribute("ondragstart", "drag(event)"); }))
        document.getElementById('wHitt').querySelectorAll('div.White').forEach((function (x) { x.setAttribute("draggable", "false"); x.setAttribute("ondragstart", "dragErr(event)"); }))
        document.querySelectorAll('div.point>div.Black').forEach((function (x) { x.setAttribute("draggable", "true"); x.setAttribute("ondragstart", "drag(event)"); }))
        document.querySelectorAll('div.point>div.White').forEach((function (x) { x.setAttribute("draggable", "false"); x.setAttribute("ondragstart", "dragErr(event)"); }))
    }
}

</script>

{% endblock %}
