table,
th,
td {
  border: 1px solid black;
}
table {
  counter-reset: section;
}
.count:before {
  width: 100%;
  height: 100%;
  counter-increment: section;
  content: counter(section);
}
.flex-container {
  display: flex;
}
.Board {
  background-image: url(../images/backgammon-Board.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 593px;
}
.centerPart {
  justify-content: space-between;
  height: 100%;
  flex-direction: row;
  width: 80%;
}
.bottomHalfs {
  margin: 3px;
  margin-bottom: 20px;
}
.myRow {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.sidePoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  height: 75%;
  margin-top: 3%;
}
.point {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  height: 100%;
}
.top {
  margin: 3px;
  margin-top: 20px;
}
.bottom {
  justify-content: flex-end;
}

.checker {
  width: 40px;
  height: 40px;
  margin: 1%;
}
.Black {
  background-image: url(../images/blackChecker.png);
}
.White {
  /* background-color: wheat; */
  background-image: url(../images/whiteChecker.png);
}
#bHitt,
#wHitt {
  margin-right: 2%;
}
#bOut,
#wOut {
  margin-left: 2%;
}
#bOut,
#wHitt {
  margin-top: 6%;
}
